@tailwind base;
@tailwind components;
@tailwind utilities;

.outlined-text {
  -webkit-text-stroke: 2px white;
  color: transparent;
}

  body, #root {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
 overflow-x: hidden;
}

 

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

 